<div class="jumbotron">
  <div class="container-fluid">
    <h1 class="display-3">Algorithms</h1>
    <!-- <p>This is a template for a simple marketing or informational website. It includes a large callout called a
        jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-xl-2">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="polish-notation" routerLinkActive="active">
          Polish Notation
        </a>
      </div>
    </div>
    <div class="col-md-10 col-xl-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
